<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/A-64.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerlinkActive="active">
        <!-- routerlinkActive="active" nos sirve para activar de color un boton cuando este actio un enlace -->
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        <!-- [routerLink]="['home'] , asi declaramos cual es la ruta que va a utilziar al presionar este boton -->
      </li>
      <li class="nav-item" routerlinkActive="active">
        <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item" routerlinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar heroe" aria-label="Search"
        (keyup.enter)="buscarHeroe(buscarTexto.value)" #buscarTexto>
      <!-- para hacer una busqueda primero creamos un alias, cuando le demos enter llamamos la funcion buscarHeroe y le pasamos el valor de ese alias, osea de este input, en el componente creamos la funcion -->
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button"
        (click)="buscarHeroe(buscarTexto.value)">Buscar</button>
      <!-- En este caso para buscar con el boton le damos con evento click y le ponemos la misma funcion y variable del input ya que es la q tiene el valor del campo -->

    </form>
  </div>
</nav>